@charset 'UTF-8';


/********************************************************
********************* DEBUG *****************************
********************************************************/

#debug {
  font-size: 12px;
  font-family: 'Spinnaker', sans-serif;
  line-height: 13px;
  background: rgba(0, 0, 0, 0.8);
  width: 45%;
  position: fixed;
  z-index: 1000;
  color: #ffed6d;
  right: 0px;
  top: 30px;
  padding: 9px;
  z-index: 10000;
}
#debug a {
  color: white;
}
#debug p {
  margin: 0 0 0px;
}
#debug p.title {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 6px;
}
#debug .tab-content {
  overflow: inherit;
}
#debug .nav-tabs > li > a {
  padding-right: 5px;
  padding-left: 5px;
}
#debug .nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: #ffed6d;
  border: 1px solid #ffed6d;
  border-bottom-color: #ffed6d;
  cursor: default;
}
#debug .nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #ffed6d;
  color: #555555;
}
#debug .nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffed6d;
  cursor: pointer;
}
#debug:hover {
  cursor: move;
}
#debug .info {
  color: #08f708;
}
a.debug-tip {
  font-family: 'Spinnaker', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
a.debug-tip:before {
  font-family: 'entypo';
  top: 2px;
  font-size: 26px;
  font-style: normal;
  content: "\E705";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  top: 8px;
  position: relative;
  line-height: 0px;
}
div.hook-tree div {
  padding-left: 16px;
}
div.hook-tree div.parent div.parent,
div.hook-tree div.parent div.hook-func {
  display: none;
  cursor: default;
}
div.hook-tree div.parent {
  cursor: pointer !important;
}
div.hook-tree div.parent:before {
  content: '+';
  color: white;
}
div.hook-tree div.expanded:before {
  content: '-';
  color: white;
}
div.hook-tree .tooltip-inner,
#story .tooltip-inner,
#dashboard .tooltip-inner {
  padding: 4px;
  text-align: left;
  background-color: #00f5ff;
  color: black;
}
div.hook-tree .tooltip.in,
#story .tooltip.in,
#dashboard .tooltip.in {
  opacity: 1;
}
div.hook-tree .tooltip.top .tooltip-arrow,
#story .tooltip.top .tooltip-arrow,
#dashboard .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #00f5ff;
  padding: 0px;
}
#debug div.hook-tree a:hover,
#story a:hover,
#dashboard a.debug-tip:hover {
  color: #00f5ff;
}
div.hook-tree a.debug-tip:before,
#story a.debug-tip:before,
#dashboard a.debug-tip:before {
  content: none;
}
.tip-container {
  position: relative;
  height: 0px;
  z-index: 9000;
  float: left;
}
.tip-container .tooltip-inner {
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  cursor: move;
  min-width: 350px;
  padding: 8px;
  text-align: left;
  color: yellow;
  text-decoration: none;
  background-color: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tip-container .tooltip-inner span {
  color: #08f708;
}