@charset 'UTF-8';

@GROUP:						#046AAF;
@GROUP_Hover:				#068EEB;

/** couleur filiale **/
@BPO:						#83bb26;
@BPO_Hover:					#97d530;

@DPS:						#727375;
@DPS_Hover:					#929292;

@CONSEIL:					#842184;
@CONSEIL_Hover:				#b428b4;

@EBS:						#e85316;
@EBS_Hover:					#ff753c;



// Essentials -----------------
@white:						#ffffff;
@black: 					#000000;
@filet-grey:				#EBEBEB;
@filet-grey2:				#EBEBEB;
@light-grey:				#cccccc;
@blue:                      @GROUP;
@gris:                      #515151;

@greyText:					#747474;

@baseFontSize:				14px;
@baseLineHeight:			24px;

@H1FontSize:				30px;
@H1LineHeight:				34px;

@H2FontSize:				22px;
@H2LineHeight:				22px;

@H3FontSize:				14px;
@H3LineHeight:				24px;


// navigation general ------------------------
@navTextHover: 				#0390EA;	
@navBackground:				#fafafa;

// Base Menu variables
@menuFontFamily:			Arial, Helvetica, FreeSans, sans-serif;  //calibri, 
@menuFontSize:				13px;
@menuLineHeight:			21px;
@menuItemRadius:			4px;

@menuHoverColor:			#0390EA;


// Widget ------------------------
@widgetTitleFontFamily:		dinlight;
@widgetTitleFontSize:		14px;
@widgetTitleLineHeight:		34px;
@widgetTitle:				#6e6e6e;
@widgetTitleHover: 			#068eeb;

@widgetFontFamily:			Arial, Helvetica, FreeSans, sans-serif;   //calibri, 
@widgettext:				#6e6e6e;
@widgettextHover: 			#068eeb;
@widgetFontSize:			14px;
@widgetLineHeight:			18px;

// Body ------------------------
@titleFontFamily:			dinregular;
@titleFontFamilylight:		dinlight;
@bodyFontFamily:			Arial, Helvetica, FreeSans, sans-serif;   //calibri, 

@bodybackground:			#ffffff;

@bodytext:					#6e6e6e;
@bodytextlight:				#aaaaaa;
@bodytitle:					#303030;
@bodyaccroche:				#515151;

// carré ----------------------

@carreBackground:			#046AAF;
@carreBackgroundHover:		#068EEB;

@carreText:					#ccc;
@carreTextHover:			#ffffff;

@carreTitre:				#ccc;
@carreTitreHover:			#b5e6ff;

@carreH1FontSize:			36px;
@carreH1LineHeight:			34px;

@carreH2FontSize:			22px;
@carreH2LineHeight:			22px;

@carreLink:					#068EEB;
@carreLinkHover:			#ffffff;

@hoverCarreA:  				#014d80;
@hoverCarreTxt: 			#b5e6ff;

@carreLinkHoverBlue: 		#014d80;


// legende photo ----------------------
@legendetext:				#767676;
@legendeFontSize:			12px;
@legendeLineHeight:			24px;

// Main Top --------------------
@maintopbackground:			#ffffff;
@typoGrise: 				#6E6E6E;	

// Footer ----------------------
@footerbackground:			#F8F8F8;

@footerTitle:				#6e6e6e;
@footerTitleFontSize:		14px;
@footerTitleLineHeight:		34px;

@footertext:				#6e6e6e;
@footerFontSize:			14px;
@footerLineHeight:			24px;

// Footer colophon ----------------------
@footerColophontext:		#6e6e6e;
@footerColophonFontSize:	11px;
@footerColophonLineHeight:	24px;

// Form Feedbacks --------------
@warningText:             	#c09853;
@warningBackground:       	#fcf8e3;
@warningBorder:           	darken(spin(@warningBackground, -10), 3%);

@errorText:               	#b94a48;
@errorBackground:         	#f2dede;
@errorBorder:             	darken(spin(@errorBackground, -10), 3%);

@successText:             	#468847;
@successBackground:       	#dff0d8;
@successBorder:           	darken(spin(@successBackground, -10), 5%);

@infoText:               	#3a87ad;
@infoBackground:          	#d9edf7;
@infoBorder:      			darken(spin(@infoBackground, -10), 7%);

@monoFontFamily:			Menlo, Monaco, Consolas, "Courier New", monospace;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       160px;


//Responsive Breakpoints
@collapseBreakpoint: 				767px;					//The width at which the menu collapses
@collapseHalfWidthMinBreakpoint: 	480px;		//Top level menu items will be 50% of the width between this point and the collapse point
@expandBreakpoint: 					@collapseBreakpoint + 1;	//@collapseBreakpoint + 1

@verticalMaxBreakpoint: 		960px;				//For Vertical Menus

//Classes spécifiques
@colorBlue:						@GROUP;
@colorWhite:					@white;

/** **/
@delayTransMenuBesoin:			.2s;
@Besoinbackground:				#F8F8F8;

/** Bloc Recherche **/
@inputColor:					#068eeb;
@inputBorder:					#014d80;

/** Bloc Nav **/
@borderNav: 					#014d80;

/** Bg Bleu **/
@bgAppHover: 					#068eeb;

/** alert **/
@alertBackground:				#014d80;
@alertTitle:					#ffffff;
@alertTitleFontSize:			30px;
@alertTitleLineHeight:			36px;
@alertTextFontSize:				16px;
@alertTextLineHeight:			24px;


